body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--background);
    background-color: #43bae0;
}
.login-box {
    width: 300px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    margin-top: 300px;
  }
  
  .login-box h2 {
    text-align: center;
    font-size: 10vw;
    margin: 25px;
  }
  
  .login-box input[type="text"],
  .login-box input[type="password"] {
    width: 95%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-box button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  .login-box button.back-button {
    background: rgb(83, 80, 80);
  }
